<!doctype html>
<html>
  <head>
		<title>{{title}} - Justin Ryder</title>
		<link rel="stylesheet" href="/css/site.css">
	</head>
	<body>
		<header class="pageHeader pageSection">
			<h1 class="pageHeader_heading">Justin Ryder</h1>
			<nav class="pageHeader_nav">
				<ul class="mainNavLinks">
					<li class="mainNavLinks_link mainNavLinks_link-current">
					  <a href="/index.html">Home</a>
					</li>
					<li class="mainNavLinks_link"
						<a href="/project.html">Projects</a>
					</li>
					<li class="mainNavLinks_link">
						<a href="/resume">Resume</a>
					</li>
					<li class="mainNavLinks_link">
						<a href="/education">Education</a>
					</li>
					<li class="mainNavLinks_link">
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</nav>
		</header>
		<article class="pageContent">
			<h2 class="pageContent_header">{{title}}</h2>
      {{#each technologies}}
	  	  <h3 class="pageContent_header pageContent_header-sub">{{name}}</h3>
      {{/each}}
			<section class="hero pageSection">
				<img  class="hero_image" src="{{hero.img.src}}" alt="{{hero.img.alt}}"/>
			</section>
      {{#each pageSections}}
  			<section class="pageContent_section pageSection">
  				<h3 class="pageSection_header">{{heading}}</h3>
          {{#each contents}}
            {{#if text}}
              <p>{{text}}</p>
            {{/if}}
            {{#if list}}
              <ul class="bulletedList">
                {{#each list}}
                  <li class="bulletedList_item">
                    {{text}}
                  </li>
                {{/each}}
              </ul>
            {{/if}}
            {{#if code}}
              <pre>
{{code.text}}
              </pre>
            {{/if}}
            {{#if aside}}
              <aside class="pageContent_aside">
                <h3>{{aside.heading}}</h3>
                {{#each aside.contents}}
                  {{#if text}}
                    <p>{{text}}</p>
                  {{/if}}
                {{/each}}
              </aside>
            {{/if}}
          {{/each}}
  			</section>
      {{/each}}
		</article>
		<aside class="pageContent pageContent-secondary">
      {{#if skills}}
  			<section>
  				<h3>Skills</h3>
  				<ul>
            {{#each skills}}
  					  <li>{{text}}</li>
            {{/each}}
  				</ul>
  			</section>
      {{/if}}
      {{#if credits}}
  			<section>
  				<h3>Credits</h3>
  				<ul>
            {{#each credits}}
    					<li class="credit">
                {{#if url}}
                  <a href="{{url}}">{{name}}</a>
                {{else}}
      					  <span class="credit_name">{{name}}</span>
                {{/if}}
      					<span class="credit_role">{{role}}</span>
    					</li>
            {{/each}}
  				</ul>
  			</section>
      {{/if}}
		</aside>
		<footer class="pageFooter pageSection">
			Footer Content
		</footer>
	</body>
</html>
