<!doctype html>
<html>
	{{> head title="Justin Ryder - Resume"}}
	<body>
		{{> header}}
		<article role="main">
			<section class="hero pageSection">
				<h2 class="hero_heading">Justin Ryder - Resume</h2>
			</section>
			{{#each jobs}}
				<section class="pageSection">
					<h4 class="pageSection_header">{{jobTitle}}</h4>
					<h3 class="pageSection_header pageSection_header-sub">
						<a href="{{employer.website}}">{{employer.name}}</a>
					</h3>
					<div>
						{{startDate}} - {{endDate}}
					</div>
					<ul class="bulletedList">
						{{#each responsibilities}}
							<li class="bulletedList_item">
								{{this}}
							</li>
						{{/each}}
					</ul>
				</section>
			{{/each}}
		</article>
		{{> footer}}
	</body>
</html>
